.blackBox1 {
    height: 150px;
    width: 400px;
    background-color: white;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    padding: 20px;
    margin: 0 auto; 
  

}
.blackBox2 {
    height: 200px;
    width: 1430px;
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    padding: 10px;
    margin: 0 auto; 
  

}

h1 {
    text-align: center;
    color: black;
    font-size: 15px;

}

h2 {
    text-align: center;
    color: black;
    font-size: 25px;

}

h3 {
    text-align: center;
    color: black;
    font-size: 15px;

}